.tinderCards__cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 180px;
}

.swipe {
  position: absolute;
}

.card {
  position: relative;
  background-color: steelblue;
  width: 600px;
  padding: 20px;
  min-width: 600px;
  max-width: 600px;
  height: 500px;
  border-radius: 60px;
  background-size: cover;
  background-position: center;
}

.card h3 {
  top: 0;
  position: absolute;
  margin: 10px;
  color: black;
}
